<%= simple_form_for model, method: verb, url: url do |f| %>
    <div class="form-inputs">
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <%= f.input :name, label: "Name of Store"%> 
          <%= f.input :bio, label: "About your store", input_html: {rows: 4} %>
          <%= f.input :category, label: "Type of Store", collection: Store::CATEGORY%>
          <%= f.input :address, label: "Store Address"%>
          <%= f.input :website, label: "Store Website"%>
          <%= f.input :telephone, label: "telephone"%>
          <%= f.input :price_range, label: "price range"%>
    </div>
    <div class="form-actions">
        <div class="form-button">
            <%= f.button :submit %>
        </div>
    <% end %>
</div>